body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.navbar.navbar-expand-sm.sticky-top.navbar-dark.info-color {
    padding:1%;
    position: relative;
    padding-right: 20%;
    justify-content: center;
}

.navbar-brand {
    font-size: 2.5em;
    margin-left: 10px;
}

.nav-item {
    font-size: 1.5em;
    padding: 7%;
}

.navbar-collapse {
    flex-grow: 0;
}

#navbarSupportedContent {
    text-align:center;
    
}

.navbar-nav {

}